language: node_js
node_js:
  - "10"

after_success:
  - chmod +x ./scripts/*.sh
  - chmod +x ./scripts/for-travis/*.sh
  - ./scripts/for-travis/build-and-deploy.sh

env:
 global:
  - TDDBIN_ROOT_DOMAIN: tddbin.com
  - GH_EMAIL: contact+travis-for-tddbin@uxebu.com
  - GH_REF: github.com/tddbin/katas.git
