language: node_js
node_js:
  - "12"

after_success:
  - chmod +x ./scripts/*.sh
  - chmod +x ./scripts/for-travis/*.sh
  - ./scripts/for-travis/build-and-deploy.sh

env:
 global:
  - TDDBIN_ROOT_URL: https://tddbin.com
  - GH_EMAIL: w+travis-for-tddbin@kriesing.de
  - GH_REF: github.com/tddbin/katas.git
